{{ define "main" }}
<link rel="stylesheet" href="/css/set.css">
<link rel="stylesheet" href="/css/reflections.css">
<script src="/js/set.js"></script>
<script src="/js/reflections.js"></script>
<div class="container" id="reflections-view">

    <div class="row mb-3 title">
        <h1 class="m-0 title-cn" style="user-select: none;">學習心得影片</h1>
        <p class="title-en" style="margin-left: -4rem; user-select: none;">Reflections</p>
    </div>

    <div class="nav justify-content-center mytabs flex flex-column" id="reflections-tabs">
        {{ partial "reflection_menu.html" . }}
    </div>
    <div class="row" id="reflections"></div>

</div>
<script src="/js/reflections-render.js"></script>
{{ end }}
