{{ define "main" }}
<link rel="stylesheet" href="/css/set.css">
<link rel="stylesheet" href="/css/reflections.css">
<script src="/js/set.js"></script>
<script src="/js/reflections.js"></script>
<div class="container" id="reflections-view">

    <div class="row mb-3 title">
        <h1 class="m-0 title-cn">學習心得影片</h1>
        <p class="title-en" style="margin-left: -4rem">Reflections</p>
    </div>

    {{ partial "reflection_menu.html" . }}

    <div class="row" id="reflections-iae2">

        {{ range .Params.List }}
        <div class="col-lg-4 col-md-6 my-3 reflections-vid">
            <a class="vid-block" href="#r{{ .id }}">
                <p class="m-1">{{ .id }} {{ .name }}</p>
                <img class="w-100" src="http://img.youtube.com/vi/{{ .video }}/maxresdefault.jpg" data-bs-toggle="modal" data-bs-target="#r{{ .id }}">
            </a>

            <div class="modal fade" id="r{{ .id }}" tabindex="-1" aria-labelledby="r{{ .id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="r{{ .id }}">{{ .id }} {{.name }}</h5>
                            <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="modal-body">
                            <iframe src="https://www.youtube.com/embed/{{ .video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>


<div class="container reflections-result" id="Footer">

    <div class="row mb-5 title">
        <h1 class="m-0 title-cn">學習心得影片</h1>
        <p class="title-en" style="margin-left: -10rem">Reflections</p>
    </div>

</div>
{{ end }}
