{{ define "main" }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="container">
    <div class="row mb-3 title">
        <h1 class="m-0 title-cn"> {{ .Title }}</h1>
        <p class="title-en" style="margin-left: -4rem">Borrowing</p>
    </div>
    <br />
    <a href="/file/先鋒13樓科學會辦使用申請單.pdf">
        <span class="material-symbols-outlined">
            download
        </span>
        先鋒13樓科學會辦使用申請單.pdf
    </a>
    <img src="/images/borrowing/step.png" alt="step.png" class="img-fluid">
</div>
{{ end }}