.event{
    margin: 1rem;
    padding: 2rem;
    background-color: aliceblue;
    border-radius: 1rem;
}
.event:hover{
    transform: scale(1.02, 1.02);
    transition: ease-in-out 0.3s;
}

.event-page-title p{
    color: var(--blue2)
}

.event-page-content{
    width: 90%;
    margin: auto;
}

.event-page-content h2{
    margin: 1.5rem 0 0.5rem 0;
}
.event-page-content p,
.event-page-content blockquote{
    width: 97%;
    align-self: center;
}
.event-page-content img,
.event-page-content figure{
    width: 90%;
    text-align: end;
}
.event-page-content figure{
    margin: 1rem 0 1rem 0;
}
.event-page-content figcaption{
    width: auto;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--blue2);
}

.event-page-content blockquote ol{
    padding: 0;
}
.event-page-content blockquote li{
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem 0 0.5rem 1rem;
    border-left: 3px solid var(--blue2);
    list-style-type: none;
}
.event-page-content blockquote li p{
    margin: 0;
}

/* .comment-name{
    margin: 0;
    text-align: end;
}
.comment-name::before{
    content: "-"
} */
