/* homepage */
#homepage {
  height: 100%;
}

.title-img{
  position: absolute;
  width: 25%;
  min-width: 300px;
  z-index: 99;
  left: 10%;
  bottom: 13%;
}

.spline{
  width: 100%;
  height: 100vh;
  top: 0px;
  right: -20%;
}
.spline iframe{
  width: inherit;
  height: inherit;
}
@media (max-width: 650px){
  .title-img{
    width: 35%;
  }
}
@media (max-width: 450px){
  .title-img{
    width: 60%;
  }
}


@keyframes getmore-animation {
  from { transform: translateY(0); }
  to { transform: translateY(10px); }
}

#homepage-getmore {
  width: 100vw;
  height: auto;
  position: absolute;
  bottom: 30px;
}
#homepage-getmore a{
  margin: auto;
  width: 8rem;
  padding: 0.8rem;

  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--blue2);
  border: 1px solid var(--blue2);
  border-radius: 0.8rem;
  animation: getmore-animation 1s ease infinite alternate;
}


/* 關於本科/科系特色 */
#about-career{
  margin-top: -50px;
  padding-top: 100px;
}
.content{
  margin: 2em auto 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#feature-pc{
  display: inline;
}
#feature-mobile{
  display: none;
}
#feature-mobile > div{
  position: relative;
}

.feature input[type="checkbox"]{
  display: none;
}
.feature-open,
.feature-close{
  display: none;
  cursor: pointer;
}
.feature-img{
  align-self: baseline;
}
.feature-img img{
  width: 100%;
  position: relative;
}
.feature-img svg{
  width: 85%;
  position: absolute;
  top: 0.5rem;
  z-index: -1;
  opacity: .6;
}
.feature-img.order-1 svg{
  right: 0;
}
.feature-img.order-2 svg{
  left: 0;
}

@media (max-width: 991px){
  .feature-open, 
  .feature-close{
    display: block;
  }
  .feature input:checked ~ .feature-open,
  .feature input:not(:checked) ~ p,
  .feature input:not(:checked) ~ .feature-close{
    display: none;
  }
  .feature br{
    display: none;
  }
  
  #feature-pc{
    display: none;
  }
  #feature-mobile{
    display: inline;
  }
  #feature-mobile h1{
    margin-bottom: 2rem;
  }
  #feature-mobile > div:nth-child(1):before,
  #feature-mobile > div:nth-child(2):before{
    content: '';
    width: .2rem;
    height: 100%;
    position: absolute;
    background-color: var(--blue2);
  }
  #feature-mobile > div > div::before{
    content: '';
    width: 1.3rem;
    height: 1.3rem;
    margin-left: .4rem;
    position: absolute;
    border: .2rem solid var(--blue1);
    border-radius: 50%;
    background-color: var(--bgcolor);
  }
  .feature{
    margin-left: 4rem;
  }
}
@media (max-width: 576px){
  #feature-mobile > div > div::before{
    content: '';
    width: 1.3rem;
    height: 1.3rem;
    margin-left: .1rem;
    position: absolute;
    border: .2rem solid var(--blue1);
    border-radius: 50%;
    background-color: var(--bgcolor);
  }
}

.field{
  position: relative;
}
.field p{
  max-width: 100%;
  font-size: 1.2rem;
}
.field-circle{
  width: 45%;
  height: 0;
  padding-bottom: 45%;
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 100%;
  background-color: var(--blue3);
  opacity: .3;
}
