@keyframes disappear { 
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.01;
  }
}

@keyframes appear { 
  0% {
    opacity: 0.01;
  }

  100% {
    opacity: 0.6;
  }
}

blockquote {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: .875em;
  color: #6c757d;
}

.event-page-content {
  display: block!important;
}

.event-page-content img {
  max-width: 100%;
  width: auto;
  margin-bottom: 1rem;
}

.event-page-content p,
.event-page-content blockquote{
    width: 100%;
    line-height: 220%;
    display: inline;
}

.event-page-content a, 
.event-page-content a:hover{
  color: auto!important;
  text-decoration:underline;
}

.back-btn-base {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: nowrap;
}

.back-btn {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1rem;

  margin: 0;
  padding: 0;
  aspect-ratio: 5 / 2;
  border-radius: 4rem!important;
}

.back-btn > div {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center!important;
}

.back-btn > div::before {
  border-radius: 4rem!important;
}

.back-btn > div::after {
  border-radius: 4rem!important;
}

.canvas-container {
  position: relative;
  width: 100%;
}

canvas {
  display: block; 
  position: absolute;
}

.turn-page-btn {
  position: absolute;
  display: flex;
  height: 100%;
  width: 8%;
  
  background-color: rgb(48, 46, 46);
  opacity: 0.01;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.turn-page-btn:hover:not(.disabled) {
  animation: appear 0.5s;
  opacity: 0.6;
}

.turn-page-btn:not(:hover):not(.disabled) {
  animation: disappear 0.3s;
}