@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

:root {
    --bgcolor: #ffffff;
    --wcolor: #121212;
    --gray1: #414141;
    --gray2: #585858;
    --gray3: #cccccc;
    --gray4: #edf1f7;
    --blue1: #758b99;
    --blue2: #7998ac;
    --blue3: #8ca6b5;
}

html, body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    scroll-behavior: smooth;

    color: var(--wcolor);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
/* @media (max-width: 576px){
    html, body{
        font-size: 24px  !important;
    }
} */

/* scrollbar */ 
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-button{
}
::-webkit-scrollbar-track-piece{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 7px;
    background-color: var(--blue1);
    opacity: .4;
}
::-webkit-scrollbar-track{
    box-shadow: transparent;
}

/* navbar */
.navbar{
    width: 100%;
    z-index: 999;
    user-select: none;
    background-color: var(--wcolor);
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
}
.navbar a{
    text-decoration: none;
}
.container-fluid{
    z-index: 999;
}

.navbar-brand{
    max-width: 70%;
}
#navbar-brand-img{
    position: relative;
    width: 100%;
    max-height: 52px;
}

.nav-link{
    color: var(--blue3)  !important;
    opacity: .6;
}
.nav-link:hover{
    opacity: .7;
}
.active, 
.active:hover{
    opacity: 1;
}
.dropdown-menu{
    padding: 0.4rem 0;
    background-color: var(--gray1);
}
.dropdown-item{
    padding: 0.25rem 1.2rem;
    color: var(--blue3);
    opacity: .6;
}
.dropdown-item:hover:not(.active){
    color: var(--blue3);
    opacity: .8;
    background-color: #52575c;
}
.dropdown-menu .active,
.dropdown-item:active{
    color: var(--blue3);
    opacity: 1;
    background-color: transparent;
}

.dropdown-header{
    padding: 0.25rem 1.2rem;
    color: var(--blue2)
}
.dropdown-item-2{
    padding: 0.25rem 1.7rem;
}
.dropdown-divider{
    border-top: 1px solid var(--blue1);
}

.nav-select{
    margin-right: 12px;
    padding: 0.2rem 2rem 0.2rem 0.5rem;
    color: var(--gray1);
    font-weight: 400;
    border-radius: 0.3rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("") 90% / 15% no-repeat var(--blue3);
}
.nav-select:focus{
    outline: none;
}
.nav-select option{
    background-color: var(--red3);
    opacity: .8;
}

.navbar-toggle{
    width: 50px;
    height: 33px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    background-color: transparent;
}
.navbar-toggle:focus{
    outline: 0;
}
.nav-icon-bar{
    width: 100%;
    height: 3px;
    background-color: var(--bgcolor);
	transition: all 0.2s;
}
.navbar-toggle.x .nav-icon-bar:nth-of-type(1) {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
.navbar-toggle.x.collapsed .nav-icon-bar:nth-of-type(1) {
	transform: rotate(0);
}
.navbar-toggle.x .nav-icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}
.navbar-toggle.x.collapsed .nav-icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}
.navbar-toggle.x .nav-icon-bar:nth-of-type(3) {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
.navbar-toggle.x.collapsed .nav-icon-bar:nth-of-type(3) {
	transform: rotate(0);
}

@media (max-width: 991px){
    .navbar-toggle{
        display: flex;
    }
    .navbar-brand,
    .navbar-toggle.x{
        z-index: 99;
    }
    
    .navbar-collapse{
        display: none;
    }
    @keyframes navbar-open{
        0%{ height: 91px }
        100%{ height: 100% }
    }
    .navbar-collapse.show{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--wcolor);
        animation: navbar-open .7s ease-in-out;
    }
    .navbar-nav,
    .dropdown-item{
        font-size: 1.5rem;
    }
    .dropdown-menu{
        padding-top: 0;
        background-color: transparent;
    }
}


/* html */
h1, h2, h3, h4, h5, h6{
    font-weight: bold  !important;
}
h1 b, h2 b, h3 b, h4 b, h5 b, h6 b{
}
a, 
a:hover{
    color: var(--gray1);
    text-decoration: none;
}
img{
    object-fit: contain;
}


/* bootstrap自定義設定 */
.container{
    min-height: calc(100% - 450px);
    margin-top: 8rem;
}
@media (max-width: 576px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
}



/* 標題 */
.title{
    width: fit-content;
}
@media (max-width: 576px){
    .title{
        margin-left: 1rem;
    }
}
.title-cn{
    font-size: 2.5rem;
}
.title-cn::first-letter{
    font-size: 140%;
}
.title-en{
    color: var(--blue2);
    font-family: "Poppins", sans-serif;
}
.title-decoration{
    width: 3rem;
}

/* tabs */
.mytabs a{
    margin: 0.5rem;
    padding: 0.5rem 0.8rem;
    color: var(--gray1);
    opacity: .5;
    border-radius: 0.4rem;
    cursor: pointer;
    user-select: none;
}
.mytabs a:hover{
    color: var(--gray1);
    opacity: .7;
}
.mytabs-active{
    color: var(--gray1)  !important;
    opacity: 1  !important;
}



/* footer */
footer{
    width: 100%;
    height: fit-content;
    min-height: 450px;
    margin-top: 5rem;
    color: var(--blue3);
    background-color: var(--wcolor);
}
footer hr{
    background-color: var(--blue1);
}
.footer-img{
    border: var(--blue3) 1.5px solid;
    border-radius: 50%;
}
@media (max-width: 576px){
    footer > div{
        padding: 3rem 0;
    }
    .footer-img{
        margin-bottom: 1rem;
    }
    footer > div:nth-child(2){
        padding: 1rem .55rem;
    }
    footer > div:nth-child(4){
        margin: 1rem 0;
    }
}