{{ define "main" }}
<link rel="stylesheet" href="/css/abroad.css">
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.1.266/build/pdf.min.js"></script>
<div class="container">
    <div class="row mb-5 title">
        <h1 class="m-0 title-cn">留學專區</h1>
        <p class="title-en" style="margin-left: -2rem">Study Abroad</p>
    </div>
    <div>
        <article class="event-page-content">
            <h2>南澳大申請分享</h2>
            <h4>by. 陳琪蓁</h4>
            <div class="canvas-container">
                <canvas id="pdf-canvas"></canvas>
                <span class="turn-page-btn disabled" id="turn-last">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 960" fill="#FFFFFF"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
                </span>
                <span class="turn-page-btn" id="turn-next">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#FFFFFF"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg>
                </span>
            </div>
            <br />
            <a href="/abroad/1226_UniSA.pdf" class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/></svg>
                1226_UniSA.pdf 下載
            </a>
        </article>
    </div>
</div>
<script>
    pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdn.jsdelivr.net/npm/pdfjs-dist@2.1.266/build/pdf.worker.min.js';

    const container = document.querySelector('.canvas-container');
    const canvas = document.getElementById('pdf-canvas');

    const turnLast = document.querySelector("#turn-last");
    const turnNext = document.querySelector("#turn-next");

    const pdfUrl = '/abroad/1226_UniSA.pdf';
    
    let pageNum = 1;

    (async () => {
        const pdfDoc = await pdfjsLib.getDocument(pdfUrl);
        
        const ctx = canvas.getContext('2d');
        renderCanvas(
            ctx, 
            await pdfDoc.getPage(pageNum)
        );

        turnLast.onclick = async () => {
            if(pageNum === 1) return;
            turnNext.classList.remove('disabled');
            
            pageNum--;
            
            if(pageNum === 1) 
                turnLast.classList.add('disabled');
            
            renderCanvas(
                ctx, 
                await pdfDoc.getPage(pageNum)
            );
        }

        turnNext.onclick = async () => {
            if(pageNum >= pdfDoc._pdfInfo.numPages) return;
            turnLast.classList.remove('disabled');
            
            pageNum++;

            if(pageNum === pdfDoc._pdfInfo.numPages) 
                turnNext.classList.add('disabled');

            renderCanvas(
                ctx,
                await pdfDoc.getPage(pageNum)
            );
        }

        addEventListener('resize', async () => {
            renderCanvas(
                ctx,
                await pdfDoc.getPage(pageNum)
            );
        });
    })();

    function getScale(width) {
        const container = document.querySelector('.canvas-container');
        const baseWidth = container.offsetWidth;

        return baseWidth >= width ? 1 : baseWidth / width;
    }

    function renderCanvas(ctx, page) {
        const viewport = page.getViewport({ 
            scale: getScale(page.view[2])
        });

        canvas.width = viewport.width;
        canvas.height = viewport.height;

        container.style = `height: ${viewport.height}px;`;

        turnNext.style = `margin-left: ${viewport.width - turnNext.offsetWidth}px;`;
        container.querySelectorAll('svg')
            .forEach(ele => ele.width = `${turnNext.offsetWidth * 0.9}px`);

        page.render({
            canvasContext: ctx,
            viewport: viewport,
        });
    }
</script>
{{ end }}