{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>
    {{ range .Site.Data.teachers }}
    <div>
        <h2>{{ .title }}</h2>
        <img src="{{ .image | relURL }}"></img>
        {{ with .education }}<p>{{ . }}</p>{{ end }}
        {{ with .lab }}<p>{{ . }}</p>{{ end }}
        {{ with .area }}<p>{{ . }}</p>{{ end }}
        {{ with .phone }}<p>{{ . }}</p>{{ end }}
        {{ with .location }}<p>{{ . }}</p>{{ end }}
        {{ with .email }}<p>{{ . }}</p>{{ end }}
    </div>
    {{ end }}
</main>
{{ end }}
