<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/img/navbar-brand.png" rel="臺北科技大學 智慧自動化工程科" id="navbar-brand-img">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        關於本科
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item active" href="#about-career">科系特色</a></li>
                        <li><a class="dropdown-item" href="./about/teachers.html">師資介紹</a></li>
                        <li><a class="dropdown-item" href="">課程總覽</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="./events/events.html">活動總覽</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        學生成果
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li><h6 class="dropdown-header" href="">學生專題</h6></li>
                        <li><a class="dropdown-item dropdown-item-2" href="">畢業專題</a></li>
                        <li><a class="dropdown-item dropdown-item-2" href="">課程專題</a></li>
                        <li><a class="dropdown-item dropdown-item-2" href="">自主研究</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="./reflections/iae1.html">學習心得影片</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="./faq/acceptance.html">常見問題</a></li>
            </ul>

            <select class="nav-select">
                <option>中文</option>
                <option>English</option>
            </select>
        </div>
</nav>


