{{ define "main" }}
<link rel="stylesheet" href="/css/events.css">
<div class="container">

    <div class="row mb-5 title">
        <h1 class="m-0 title-cn">活動總覽</h1>
        <p class="title-en" style="margin-left: -2rem">Events</p>
    </div>

    {{ range .Pages }}
    <a class="row justify-content-center event" href="{{ .RelPermalink }}">
        <div class="col-11 col-lg-7">
            <p class="m-0 event-time">{{ .Date.Format .Site.Params.TimeFormat }}</p>
            <h2 class="mb-2">{{ .Title }}</h2>
            <p>{{ .Summary }}</p>
        </div>
        <img class="col-11 col-lg-5" src="https://miro.medium.com/max/828/1*_PmLWgvuPq4T0AYDgBiaZA.jpeg">
    </a>
    {{ end }}
</div>
{{ end }}
